body {
  background-color: #00701a;
  color: aliceblue;
  font-size: larger;
  font-family: "Yaldevi", sans-serif;
  text-align: center;
}

h1 {
  margin: 50px;
  color: #c8e6c9;
}
.background {
  width: 100%;
}
.main-header {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 80px;
  padding: auto;
}

.second-headers {
  color: #000000;
  text-align: center;
  padding: 10px 25px;
}

.backgroundcolor {
  background-color: darkkhaki;
}
.section1,
.section2,
.section3 {
  padding-bottom: 50px;
  margin: 20px, 30px;
  width: 50vw;
  border: 5px solid rebeccapurple;
}
