body {
  background-color: darkgreen;
  color: aliceblue;
  font-size: larger;
  font-family: 'Yaldevi', sans-serif;
}

 h1{
     color: antiquewhite;
 }
 .main-header{

 color:rgb(255, 255, 255); 
 text-align: center;

 }
     
 .second-headers{

  color: black;
 }

 }
.backgroundcolor{
  background-color: darkkhaki;
}