body {
  background-color: #00701a;
  color: #568259;
  font-weight: bold;
  font-size: larger;
  font-family: "Yaldevi", sans-serif;
  text-align: center;
}

h1 {
  margin-top: 50px;
  text-align: center;
  color: #c8e6c9;
  text-shadow: #464e47 10px 5px 3px;
}
p {
  padding-left: 30px;
  padding-right: 30px ;
}

.background {
  width: 50%;
  margin: auto;
}
.main-header {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 60px;
}

.second-headers {
  color: #464e47;
  text-align: center;
  padding: 10px 25px;
  text-shadow: #568259 1px 3px 2px;
}
.pics {
  width: 300px;
}

.section {
  border: 5px solid #000000;
  text-align: center;
  background-color: #ccfccb;
  padding-bottom: 20px;
}
.link {
  color: lightcoral;
}
