body {
  background-color: #00701a;
  color: darkolivegreen;
  font-weight: bold;
  font-size: larger;
  font-family: "Yaldevi", sans-serif;
  text-align: center;
}

h1 {
  text-align: center;
  color: #c8e6c9;
}
.background {
  width: 50%;
  margin: auto;
}
.main-header {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 80px;
}

.second-headers {
  color: #000000;
  text-align: center;
  padding: 10px 25px;
}
.pics {
  width: 300px;
}

.section {
  border: 5px solid #5bba6f;
  text-align: center;
  background-color: yellowgreen;
}
